@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.white {
    background-color: rgb(255, 255, 255);
}

.green {
    background-color: rgb(150, 255, 150);
}

.red {
    background-color: rgb(255, 150, 150);
}

aside {
    color: white;
    background-color: black;
    display: inline-block;
}

aside div ul{
    display: none;
}

aside div ul{
    display: block;
}

aside div div p{
    background-color: blue;
}

aside div div p:hover{
    background-color: blue;
}