@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.white {
    background-color: rgb(255, 255, 255);
}

.green {
    background-color: rgb(150, 255, 150);
}

.red {
    background-color: rgb(255, 150, 150);
}

aside {
    color: white;
    background-color: lightblue;
    display: block;
    padding: 5px;
}

aside div {
    border-radius: 5px;
    background-color: black;
    margin-top: 10px;


}

aside div div{
    background-color: blue;
    display: flex;


}



aside div ul{
    display: block;
}


.ss_menu_cache{
    display: none;
}


.ss_menu_visible{
    display: block;
}

